@import url("https://fonts.googleapis.com/css?family=Space+Mono:400|BioRhyme:700");

* {
  box-sizing: border-box;
}

:root {
  --black: #0f0e17;
  --white: #fffffe;
  --orange: #ff8906;
  --peach: #f25f4c;
  --pink: #e53170;
  --grey: #28282c;

  --background: var(--white);
  --textColor: var(--black);
  --headerBackground: var(--grey);
  --cardBg: white;

  --headerFont: "BioRhyme", serif;
  --bodyFont: "Space Mono", monospace;
  --baseFontSize: 100%;
  --footerBackground: var(--black);
  --footerTextcolor: var(--white);

  --h1: 3.052rem;
  --h2: 2.441rem;
  --h3: 1.953rem;
  --h4: 1.563rem;
  --h5: 1.25rem;

  --level-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --level-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --level-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --level-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);

  --headerHeight: 4rem;
  --contentPadding: 2%;
  --linkPadding: 10px;
}

html {
  font-size: var(--baseFontSize);
}

header {
  display: grid;
  grid-template: var(--headerHeight) / 50px 250px 1fr;
  background-color: var(--headerBackground);
  height: var(--headerHeight);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  padding: 0 var(--contentPadding);
}

header h1 {
  font-size: var(--baseFontSize);
  margin: 0;
  color: var(--white);
}

header img {
  height: 50px;
}

header nav {
  justify-self: flex-end;
}

header nav a,
header nav span {
  color: var(--peach);
  text-decoration: none;
}

header nav span:hover {
  cursor: pointer;
}

header nav * + a {
  padding-left: var(--linkPadding);
}

header .sub-header {
  background-color: var(--black);
  position: fixed;
  top: var(--headerHeight);
  padding: 0 var(--contentPadding);
  left: 0;
  opacity: 0;
  width: 100%;
}

header .sub-header a + a {
  margin-left: var(--linkPadding);
}

header .sub-header a {
  color: var(--white);
  text-decoration: none;
}

header[display] {
  grid-template: repeat(2, var(--headerHeight)) / 50px 250px 1fr;
}

header[display] .sub-header {
  opacity: 1;
}

body {
  background: var(--background);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
  margin: 0;
}

footer {
  text-align: center;
  background-color: var(--footerBackground);
  color: var(--white);
  padding-top: var(--contentPadding) 0;
}

footer nav a + a {
  padding-left: var(--linkPadding);
}

footer a {
  color: var(--footerTextColor);
  text-decoration: none;
}

footer p {
  margin-bottom: 0%;
}

p {
  margin-bottom: 1rem;
}

blockquote {
  background-color: var(--cardBg);
  padding: 1em;
  box-shadow: var(--level-3);
}

pre {
  background-color: var(--grey);
  color: var(--white);
  padding: 0.5em;
}

hr {
  border-bottom: 2px solid var(--peach);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: var(--headerFont);
  font-weight: 700;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

small,
.text_small {
  font-size: 0.8rem;
}

.flex {
  --justifyContent: space-between;
  display: block;
  justify-content: var(--justifyContent);
}

.grid {
  --gridCols: 2;
  display: block;
  grid-template-columns: repeat(var(--gridCols), 1fr);
}

.cols-3 {
  --gridCols: 3;
}

.layout {
  padding: calc(3rem + var(--headerHeight)) var(--contentPadding);
}

.card {
  max-width: 40em;
  box-shadow: var(--level-2);
  padding: 2em;
  background-color: var(--cardBg);
}

.card a {
  color: var(--peach);
  text-decoration: none;
  border-bottom: 1px solid var(--peach);
}

.card > *:first-child {
  margin-top: 0;
}

.card > *:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 550px) {
  :root {
    --baseFontSize: 125%;
    --headerHeight: 3rem;
  }

  .flex {
    display: flex;
  }

  .grid {
    display: grid;
  }

  .sub-header a {
    margin: 0;
  }
}
